.container .certifications__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.client__pix{
    width:auto;
    overflow:hidden;
    border-radius: 1rem;
    margin:0 auto 1rem;
}
@media (min-width:768px){
    .client__pix{
        width:24rem;
    }
 .certifications__container{
        display: flex;
    }
}
.certification{
    background:var(--color-primary-variant);
    text-align: center;
    margin:1rem;
    border-radius: 2rem;
    user-select: none;
}
.client__review{
    color:var(--color-light);
    font-weight:300;
    display: block;
    width:80%;
    margin:0.8rem auto 0;
}



/* ==========================Tablet View===================*/
@media screen and(max-width:1024px){
    .container.certifications__container{
        width:60%;
        display: flex;
  
    }
}


/*==========================Mobile View==========================*/
@media screen and(max-width:600px){
    .container.certifications__container{
        width: var(--container-width-sm);
        display: block;
    }
    .client__review{
        width:var(--container-width-sm)
    }

}